aicsimageio==4.7.0
annotated-types==0.5.0
asciitree==0.3.3
certifi 
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==2.2.1
colorama==0.4.6
cupy-cuda11x
cycler==0.11.0
cytoolz 
dask==2022.1.0
dask-cuda==22.2.0    
distributed==2022.1.0
docopt==0.6.2
elementpath==4.1.5
entrypoints==0.4
fasteners==0.19
fastrlock==0.8.2
fire==0.6.0
fonttools==4.38.0
fsspec==2023.1.0
HeapDict==1.0.1
idna==3.7
imagecodecs==2021.11.20
imageio==2.31.2
importlib-metadata==6.7.0
Jinja2==3.1.4
kiwisolver==1.4.5
llvmlite==0.39.1
locket 
lxml==4.9.4
MarkupSafe==2.1.5
matplotlib==3.5.3
mkl-fft==1.3.1
mkl-random 
mkl-service==2.4.0
msgpack==1.0.5
networkx 
numba==0.56.4
numcodecs==0.10.2
numpy==1.21.6
ome-types==0.5.0
packaging==24.0
pandas==1.3.5
partd==1.4.1
Pillow==9.5.0
pipreqs==0.4.13
psutil==6.0.0
pydantic==2.5.3
pydantic-compat==0.1.2
pydantic_core==2.14.6
pynvml==11.4.1
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyWavelets
PyYAML==6.0.1
requests==2.31.0
scikit-image 
scipy 
six 
sortedcontainers==2.4.0
tblib==2.0.0
termcolor==2.3.0
tifffile==2021.11.2
toolz==0.12.1
tornado==6.2
typing_extensions==4.7.1
urllib3==2.0.7
wincertstore==0.2
wrapt==1.16.0
xarray==0.20.2
xmlschema==2.5.1
xsdata==23.7
yarg==0.1.10
zarr==2.12.0
zict==2.2.0
zipp==3.15.0
